@model IEnumerable<Project.Models.CustomerMaster>
@{
    ViewBag.Title = "SortFisrtname";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SortFisrtname</h2>



<div class="row">
    <div class="col-md-12">
        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100">
            <thead>
                <tr>

                    <th>FirstName</th>
                    @*<th> @Html.ActionLink("FirstName", "SortFisrtname", new { sortOrder = ViewBag.firstname, rollid = 3 })</th>*@
                    <th>LastName</th>
                    <th>Address1</th>
                    <th>Address2</th>
                    <th>Address3</th>
                    @*<th> @Html.ActionLink("Address3", "Sortarea", new { sortOrder = ViewBag.area, rollid = 3 })</th>*@
                    <th>PinCode</th>
                    @*<th>AreaId</th>*@
                    <th>Phone</th>
                    <th>EmailId</th>
                    <th>Gender</th>
                    <th>Birthdate</th>
                    <th>Image</th>
                    @*<th>Edit</th>*@
                    <th>Delete</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var area in Model.ToList())
                {
                    <tr>
                        <td>
                            @area.FirstName
                        </td>
                        <td>
                            @area.LastName
                        </td>
                        <td>
                            @area.Address1
                        </td>
                        <td>
                            @area.Address2
                        </td>
                        <td>
                            @area.Address3
                        </td>
                        <td>
                            @area.Pincode
                        </td>
                        <td>
                            @area.PhoneNo
                        </td>
                        <td>
                            @area.EmailID

                        </td>
                        <td>
                            @area.Gender

                        </td>
                        <td>
                            @area.Birthdate

                        </td>
                        <td>
                            @area.Image

                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">

                                <button onclick="deleterecord(@area.CustId)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section reg
{
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.validate.min.js")"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <script type="text/javascript">


        //$(document).ready(function () {
        //    $('#datatable').dataTable();

        //    $("[data-toggle=tooltip]").tooltip();

        //});
        function deleterecord(id) {
            $.ajax({
                datatype: 'json',
                type: 'post',
                data: { id: id },
                url: '@Url.Action("Deletecust","Admin")',
                success: function (item) {
                    if (item.toString() == "Success") {
                        alert('Record deleted successfully'),
                        window.location.href = '@Url.Action("Searcharea", "Admin")';
                    }
                    else {
                        alert('Error');
                    }
                },
                error: function (item) {
                    $('#ErrMsg').text(item.toString());
                }


            });
        }

    </script>
}
