@model IEnumerable<Project.Models.DailyOrderData_Result>
@{
    ViewBag.Title = "DailyOrders";
    Layout = "~/Views/Shared/_LayoutDriver.cshtml";
}



<section style="background-image:url(@Url.Content("~/img/texture-bw.png")">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-left">your today's orders</h2>
            </div>
        </div>
    </div>
</section>

<div class="col-md-12" id="customer-orders">

    <div class="box">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Daily Order Id</th>
                        <th>Customer Name</th>
                        <th>Cutomer Id</th>
                        <th>OrderID</th>
                        <th>Order Name</th>
                        <th>Payment Method</th>
                        <th>Price</th>

                        <th>Delivery Address</th>
                        <th>Code</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.ToList())
                    {

                        <tr>
                            <th>@order.Id</th>
                            <td>@order.FirstName</td>
                            <td>@order.CustId</td>
                            <td>@order.OrderId</td>
                            <td>@order.Name</td>
                            <td>@order.PaymentMode</td>
                            <td>@order.GrandTotal</td>
                            <td>@order.DeliveryAddr</td>
                            <td>@order.Code</td>
                            <td>
                                <span class="label label-info">@order.Status</span>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>