@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section style="background-image:url(@Url.Content("~/img/texture-bw.png")">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <center> <h2>About Chatpata Dabba</h2></center>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="content">
    <div class="container">

        <section>
            <div class="row">
                <div class="col-md-12">



                    <p class="lead">
                        We provide you with the best quality, healthy and the tastiest food of your choice right at the place you want it.

                        We are Chatpata Dabba, a unique and high-end Tiffin Service providing you with the best quality food and allowing you to select what you want to eat every day.

                        The Food that we prepare uses 100% fresh ingredients, fresh vegetables, mineral water, low fat best quality oil and lots of love and care. Our Tiffins come in disposable and elegant containers which makes the experience way more better.
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel-group accordion" id="accordionThree">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">

                                        How ChatpataDabba Works

                                    </a>

                                </h4>
                            </div>
                            <div id="collapse3a" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="@Url.Content("/img/4.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-md-8">
                                            <p>
                                                Signup with our webiste ChatpataDabba.com. Order a Tiffin or subscribe for a monthly plan. Customize your tiffin as per your choice and place your order, track your order.
                                            </p>
                                            <p>
                                                Choose customized or combo meals . You can pre-book your orders till month end. Each day’s menu is different which is already uploaded on the website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">

                                        What do I do if my tiffin does not get delivered to me?

                                    </a>

                                </h4>
                            </div>
                            <div id="collapse3b" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="@Url.Content("/img/4.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-md-8">
                                            <p>
                                                we put in a lot of effort to ensure that your tiffin reaches you on time consistently and in an ideal condition. However, due to unforeseen events your
                                                tiffin may reach you late and in rare cases may be undelivered.
                                            </p>
                                            <p> In such a circumstance, please contact us or mail us at chatpatadabba@gmail.com We assure you that every attempt will be made to rectify the situation or compensate you.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">

                                    <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3c">


                                        How do I pay for the Tiffin ??
                                    </a>

                                </h4>
                            </div>
                            <div id="collapse3c" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <p>
                                        You can pay simplely online or Cash On Delivery.
                                    </p>
                                    <p>
                                        You pay to the Chatpata Dabba Delivery Boy.
                                    </p>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="heading">
                        <h2>According To People</h2>
                    </div>

                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            Food Quality 90
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            Looks,Design and Packaging 85
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            Taste and Freshness 90
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            Customer Interaction 95
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="heading">
                        <h2>Our services</h2>
                    </div>
                    <ul class="ul-icons">
                        <li><i class="fa fa-check"></i> We provide free home delivery of all 24 Hours.</li>
                        <li><i class="fa fa-check"></i>We also deliver the Tiffin in different areas in vadodara</li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="heading">
                        <h2>Our Meal</h2>
                    </div>

                    <ul class="ul-icons">
                        <li><i class="fa fa-check"></i>Tasty and delicious Food</li>
                        <li><i class="fa fa-check"></i>No preservatives/ artificial color/ pre-cooked gravies</li>
                        <li><i class="fa fa-check"></i> Meal is packed in disposable plastic containers. This ensure that there are no chances of contamination</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
    <!-- /#contact.container -->


    <section>
        @*<section class="bar background-white">*@
        <div class="container">
            <div class="heading text-center">
                <h2>Meet Our Team</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="@Url.Content("/img/bin.jpg")" alt="" class="img-responsive img-circle" style="width:300px; height:325px;">
                            </div>

                        </div>
                        <div class="content">
                            <h4>Ayushi Dave</h4>
                            <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-image -->

                </div>

                <div class="col-md-3">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="@Url.Content("/img/ayu.jpg")" alt="" class="img-responsive img-circle" style="width:300px; height:325px;">
                            </div>

                        </div>
                        <div class="content">
                            <h4>Binal Patel</h4>
                            <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-image -->

                </div>

                <div class="col-md-3">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="@Url.Content("/img/dh.jpg")" alt="" class="img-responsive img-circle" style="width:300px; height:325px;">
                            </div>

                        </div>
                        <div class="content">
                            <h4>Dhruvi Patel</h4>
                            <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-image -->
                </div>

                <div class="col-md-3">
                    <div class="box-image-text">
                        <div class="top">
                            <div class="image">
                                <img src="@Url.Content("/img/anj.jpg")" alt="" class="img-responsive img-circle" style="width:300px; height:325px;">
                            </div>

                        </div>
                        <div class="content">
                            <h4>Anjali Rathod</h4>
                            <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-image -->
                </div>
            </div>
        </div>
    </section>




    <!-- /.bar -->

    <section style="background-image:url(@Url.Content("~/img/texture-bw.png")">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h4> In case you haven't found the answer for your question please feel free to contact us, our customer support will be happy to help you.</h4>

                </div>
            </div>
        </div>
    </section>
</div>